{% extends 'base.html' %}
{% block titulo %}
	Músicos
{% endblock %}
{% block conteudo %}
    <main class="container">
        <h1>Músicos</h1>
        <p>Veja nossos músicos!</p>
        {% for musico in musicos %}
            <p>
                <mark>{{ musico.nome }}</mark> -
                <strong>{{ musico.nacionalidade }}</strong> -
                <small>{{ musico.nascimento }}</small>
            </p>
        {% empty %}
            <h1>Nenhum músico cadastrado</h1>
        {% endfor %}
    </main>
{% endblock %}